body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-item {
    margin-left: 10px;
    margin-right: 10px;
    background-color: #8064A2;
}

.btn {
    background-color: #8064A2;
    margin-right: 10px;
}

.Lfridge{
    top: 25%;
    left: 0;
    width: 240px;
    height: 300px;
    position: fixed;
}

.Rfridge{
    top: 25%;
    right: 0;
    width: 240px;
    height: 300px;
    position: fixed;
}