{% extends 'base.html' %}
    {% block head %}
        <title>About Us</title>
    {% endblock %}
    {% block body %}

    <style>
        .header {
            height: 100vh;
            width: 100%;
            background-size: cover;
            background-position: center;
        }
        .main {
            width: 50%;
            background: rgba(0, 0, 0, .7);
            color: #ffffff;
            text-align: center;
            padding: 50px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>

        <div class ='header'>
            <div class = 'main'>
                <h1>About Us..</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed tempor libero. Aliquam in augue in leo posuere vestibulum. Sed id nunc metus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus vehicula quis libero vel condimentum. Suspendisse euismod dictum magna nec placerat. Proin porttitor eros non tellus tincidunt, eget dapibus justo luctus. Vivamus sit amet urna auctor tellus imperdiet pellentesque. Aenean rhoncus eu diam sit amet tristique. Curabitur ac imperdiet mi. Vestibulum dictum tellus id molestie sagittis. Nam quis enim lectus. Ut nunc magna, ullamcorper vel porttitor et, luctus laoreet metus. Nam quis leo eu justo bibendum ornare sed et massa. Sed velit orci, sagittis a est non, laoreet aliquet ante.

Nulla tempus porta elit, vitae vehicula velit auctor eget. Proin ligula ante, auctor ut enim in, rutrum vestibulum mi. Pellentesque vel ligula in mi ornare sagittis. Praesent eu velit ac sapien lobortis feugiat. Proin condimentum mollis erat ut consequat. Vestibulum sagittis, metus in fermentum mollis, purus magna viverra nulla, ac lacinia nisi quam vel odio. Integer pulvinar augue leo. Pellentesque odio lacus, fermentum sit amet feugiat porta, eleifend vel neque. Suspendisse congue nulla vel purus hendrerit, eget ullamcorper neque volutpat. Praesent facilisis ex a tristique convallis. Curabitur ac nunc nec est pellentesque mattis in vel eros. Morbi consequat ipsum nunc. Curabitur et ante id quam sollicitudin pretium. Phasellus et sapien id urna accumsan hendrerit. Quisque a laoreet velit.

Pellentesque porttitor mi a purus gravida luctus. Duis vel massa posuere, maximus tellus at, faucibus libero. Sed sit amet lacus ultrices, malesuada libero in, sagittis erat. Suspendisse sed tincidunt lectus. Vivamus dapibus justo lacus, id varius ante hendrerit ac. Curabitur risus velit, laoreet nec condimentum eu, sollicitudin sit amet nulla. Proin et dui quam. Nullam et ex a arcu elementum rutrum. Ut ultrices elementum risus porta auctor. Fusce eu vehicula ex. Etiam tempor, tellus eu bibendum euismod, risus tellus auctor lectus, a iaculis arcu lacus consectetur nulla. Curabitur commodo fermentum massa, vel ultrices nisi dapibus non. Sed interdum libero scelerisque auctor vestibulum.

Pellentesque cursus dui vel scelerisque consequat. Proin lorem nisl, dignissim quis purus ut, imperdiet auctor ex. Praesent luctus elementum velit. Sed nibh arcu, placerat vel posuere id, accumsan nec ipsum. Etiam porta erat risus, eu consectetur tellus porttitor non. Quisque elementum tincidunt ipsum, et tempus enim lobortis sit amet. In at lacus elementum, malesuada ante ut, porta ligula. Praesent malesuada mi ac erat ultrices, sit amet ultrices elit pretium. Etiam vel justo vitae dolor tincidunt varius non vitae erat.

Donec vestibulum sed nibh quis feugiat. Maecenas nec luctus ex. Sed at velit nec ante euismod venenatis. Fusce vel mi a tellus consequat pretium. Fusce iaculis nisi non elit blandit, non viverra ex ultricies. Ut sodales augue et risus dapibus vulputate. In ullamcorper luctus quam vitae convallis. Nam sollicitudin rhoncus velit at fermentum. Pellentesque tincidunt nisl ut magna tempor, a fringilla neque tempus. Donec tincidunt massa vitae diam blandit, vitae volutpat lacus posuere. Aenean cursus nulla quis volutpat bibendum. Quisque egestas posuere neque, sit amet molestie turpis fringilla in. Quisque id massa gravida, consequat tortor ut, aliquet nulla. Vestibulum sollicitudin dapibus elementum. Nunc tincidunt et neque vitae efficitur.
                </p>
            </div>
        </div>
    {% endblock %}