{% extends 'base.html' %}

{% block head %}
<title>Your Fridge</title>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
{% endblock %}

{% block body %}
<!-- Trigger the modal with a button -->

<!-- Modal for add input first page -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal conten for add screen-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-outline-danger" data-dismiss="modal">Cancel&times;</button>
        <button type="button" class="btn-outline-primary" data-toggle="modal" data-target="#myModal2" data-dismiss="modal">Add Multiple...</button>
        <h4 class="modal-title">Fridge Add</h4>
      </div>
      <div class="modal-body">
        <label for="fIngredient">Please enter the name of the ingredient:</label>
        <input type="text" id="fIngredient" name="fIngredient"><br><br>
        <label for="fIngredientID">Please enter the SKU/UPC of the ingredient:</label>
        <input type="text" id="fIngredientID" name="fIngredientID"><br><br>
        <label for="fExpiration"> Please enter the ingredients expiration:</label>
        <input type="text" id="fExpiration" name="fExpiration"><br><br>
        
        <input type="submit" value="Submit">
      </div>
    </div>

  </div>
</div>
<!-- Modal conten for multiple adds-->
<div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="btn-outline-danger" data-dismiss="modal">Cancel&times;</button>
          <button type="button" class="btn-outline-primary">Add this Item</button>
          <h4 class="modal-title">list add </h4>
        </div>
        <div class="modal-body">
          <label for="fIngredient">Please enter the name of the ingredient:</label>
          <input type="text" id="fIngredient" name="fIngredient"><br><br>
          <label for="fIngredientID">Please enter the SKU/UPC of the ingredient:</label>
          <input type="text" id="fIngredientID" name="fIngredientID"><br><br>
          <label for="fExpiration"> Please enter the ingredients expiration:</label>
          <input type="text" id="fExpiration" name="fExpiration"><br><br>
          
          <input type="submit" value="Submit">
        </div>
      </div>
  
    </div>
  </div>

<link rel="stylesheet" type="text/css" href="/static/css/myfridge.css">
<h1 style = "text-align: center">Your Fridge</h1>
<button type="button" class="btn btn-outline-primary" style="text-align: center; margin-left: 37%; width: 200px;" data-toggle="modal" data-target="#myModal">Add Item</button>

<button type="button" class="btn btn-outline-danger" style="text-align: center; margin-left: auto; width: 200px;position:relative">Remove Item</button>

<div class = 'table'>
    <table class="table table-sm", style="border: 3px solid black; text-align:center; width: 1000px; margin:auto; margin-top: 20px">
        <thead Class = table-secondary>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Food/Ingredient</th>
            <th scope="col">Add Date</th>
            <th scope="col">Expiration</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Swiss Cheese</td>
            <td>4/19/2021</td>
            <td>5/18/2021</td>
        </tr>
        <tr>
        </tbody>
    </table>
</div>
<p>{{content}}</p>
{% for x in content: %}
    <p>{{x}}</p>
{% endfor %}
</body>>


{% endblock %}